.address-treetable-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 10 0 10 0;
}

.address-cell {
    -fx-font-family: Courier;
}

.hashindex-row {
    -fx-text-fill: #696c77;
}

.hashindex-row.spent {
    -fx-text-fill: #a0a1a7;
}

.tree-table-row-cell:selected .hashindex-row {
    -fx-text-fill: white;
}

.label-cell .text-field {
    -fx-padding: 0;
}

.amount-cell {
    -fx-alignment: center-right;
}

.amount-cell.spent .text {
    -fx-strikethrough: true;
}

.data-cell .button {
    -fx-padding: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

.data-cell .button .label .text {
    -fx-fill: -fx-background;
}

.data-cell:hover .button .label .text {
    -fx-fill: -fx-text-base-color;
}
