#selectSourcePane {
    -fx-padding: 50 25 50 25;
    -fx-background-color: -fx-background;
}

#selectSourcePane .toggle-button {
    -fx-pref-height: 130px;
    -fx-pref-width: 200px;
    -fx-padding: 20px;
}

.form .fieldset:horizontal .label-container {
    -fx-pref-width: 140px;
}

#fingerprint, #derivation, #xpub {
    -fx-font-family: Courier;
}

#type {
    -fx-padding: 0 17 0 0;
}