#selectSourcePane {
    -fx-padding: 50 25 50 25;
    -fx-background-color: -fx-background;
}

#selectSourcePane .toggle-button {
    -fx-pref-height: 130px;
    -fx-pref-width: 200px;
    -fx-padding: 20px;
}

.form .fieldset:horizontal .label-container {
    -fx-pref-width: 140px;
}

#fingerprint, #derivation, #xpub {
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
}

#type {
    -fx-padding: 0 17 0 0;
}

.xpub-buttons {
    -fx-max-width: 40;
    -fx-padding: 0 0 0 3;
}

.xpub-buttons .button {
    -fx-pref-width: 35;
}