.title-form .fieldset {
    -fx-padding: 0 0 0 0;
}

.form .fieldset:horizontal .field {
    -fx-pref-height: 40px;
}

.send-form .form .fieldset:horizontal .label-container, .buttonRowLabel {
    -fx-pref-width: 90px;
}

#paymentTabs {
    -fx-max-height: 154px;
}

.initial .tab-header-area {
    visibility: hidden;
}

.multiple-tabs {
    -fx-background-color: derive(-fx-background, 20%);
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: derive(-fx-background, -5%);
}

.multiple-tabs .send-form {
    -fx-padding: 9px 0px 9px 0px;
}

.amount-field {
    -fx-pref-width: 140px;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.amount-unit {
    -fx-min-width: 76px;
    -fx-max-width: 76px;
}

.feeRatesChart {
    -fx-max-width: 335px;
    -fx-max-height: 130px;
}

.default-color0.chart-series-line {
    -fx-stroke: rgba(105, 108, 119, 0.6);
    -fx-stroke-width: 1px;
}

.chart-line-symbol {
    -fx-background-color: rgba(30, 136, 207, 0);
}

.chart-line-symbol.selected {
    -fx-background-color: rgba(30, 136, 207, 0.6);
}

.inactive {
    -fx-opacity: 0.3;
}

#feeRateField .input-container {
    -fx-alignment: center-left;
}

#transactionDiagram .boundary {
    -fx-stroke: transparent;
}

#transactionDiagram .input-label, #transactionDiagram .recipient-label, #transactionDiagram .change-label, #transactionDiagram .fee-tooltip, #transactionDiagram .transaction-tooltip {
    -fx-font-size: 13px;
    -fx-font-family: 'Fragment Mono Regular';
}

#transactionDiagram .fee-warning-icon {
    -fx-text-fill: rgb(202, 18, 67);
}

#transactionDiagram .inputs-type, #transactionDiagram .input-line, #transactionDiagram .output-line {
    -fx-fill: transparent;
    -fx-text-fill: -fx-text-background-color;
    -fx-stroke: -fx-text-background-color;
    -fx-stroke-width: 1px;
}

#transactionDiagram .size-indicator {
    -fx-fill: -fx-text-background-color;
}

#transactionDiagram .input-dashed-line {
    -fx-stroke-dash-array: 5px 5px;
}

#transactionDiagram .utxo-label .button, #transactionDiagram .replace-change-label .button {
    -fx-padding: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

#transactionDiagram .utxo-label .button .label .text {
    -fx-fill: -fx-background;
}

#transactionDiagram .utxo-label:hover .button .label .text {
    -fx-fill: -fx-text-base-color;
}

#transactionDiagram .change-warning-icon, #transactionDiagram .payment-warning-icon {
    -fx-text-fill: rgb(238, 210, 2);
}

#targetBlocks .track {
    -fx-background-color: -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(to bottom, derive(-fx-control-inner-background, -9%), derive(-fx-control-inner-background, 0%), derive(-fx-control-inner-background, -5%), derive(-fx-control-inner-background, -12%)),
        linear-gradient(to right, #c8416466 0%, #a0a1a766 50%, #a0a1a700 100%);
}

#transactionDiagram .coins-icon, #transactionDiagram .user-icon {
    -fx-text-fill: -fx-text-background-color;
}

#transactionDiagram .coins-replace-icon, #transactionDiagram .question-icon {
    -fx-text-fill: -fx-accent;
}

#transactionDiagram .useradd-icon {
    -fx-text-fill: -fx-accent;
}

.block-used {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, -top 0%, -bottom 100%);
}

.block-mainnet {
    -top: rgb(155, 79, 174);
    -bottom: rgb(77, 96, 154);
}

.block-testnet {
    -top: rgb(30, 136, 229);
    -bottom: rgba(57, 73, 171);
}

.block-signet {
    -top: rgb(136, 14, 79);
    -bottom: rgb(64, 7, 39);
}

.block-regtest {
    -top: rgb(0, 137, 123);
    -bottom: rgb(0, 96, 100);
}

.block-confirmed .block-unused {
    -fx-fill: #8c8c98;
}

.block-confirmed .block-top {
    -fx-fill: #696d7c;
}

.block-confirmed .block-left {
    -fx-fill: #616475;
}

.block-unconfirmed .block-top {
    -fx-fill: #807976;
}

.block-unconfirmed .block-left {
    -fx-fill: #6f6a69;
}

.block-unconfirmed .block-unused {
    -fx-opacity: 70%;
}

.block-height {
    -fx-fill: derive(-fx-text-background-color, 40%);
}

.block-text {
    -fx-fill: #ffffff;
}

.blocks-separator {
    -fx-stroke: -fx-text-background-color;
}

.vsizeChart {
    VSIZE1-2_COLOR: rgb(216, 27, 96);
    VSIZE2-3_COLOR: rgb(142, 36, 170);
    VSIZE3-4_COLOR: rgb(94, 53, 177);
    VSIZE4-5_COLOR: rgb(57, 73, 171);
    VSIZE5-6_COLOR: rgb(30, 136, 229);
    VSIZE6-8_COLOR: rgb(3, 155, 229);
    VSIZE8-10_COLOR: rgb(0, 172, 193);
    VSIZE10-12_COLOR: rgb(0, 137, 123);
    VSIZE12-15_COLOR: rgb(67, 160, 71);
    VSIZE15-20_COLOR: rgb(124, 179, 66);
    VSIZE20-30_COLOR: rgb(192, 202, 51);
    VSIZE30-40_COLOR: rgb(253, 216, 53);
    VSIZE40-50_COLOR: rgb(255, 179, 0);
    VSIZE50-60_COLOR: rgb(251, 140, 0);
    VSIZE60-70_COLOR: rgb(244, 81, 30);
    VSIZE70-80_COLOR: rgb(109, 76, 65);
    VSIZE80-90_COLOR: rgb(117, 117, 117);
    VSIZE90-100_COLOR: rgb(84, 110, 122);
    VSIZE100-125_COLOR: rgb(183, 28, 28);
    VSIZE125-150_COLOR: rgb(136, 14, 79);
    VSIZE150-175_COLOR: rgb(74, 20, 140);
    VSIZE175-200_COLOR: rgb(49, 27, 146);
    VSIZE200-250_COLOR: rgb(26, 35, 126);
    VSIZE250-300_COLOR: rgb(13, 71, 161);
    VSIZE300-350_COLOR: rgb(1, 87, 155);
    VSIZE350-400_COLOR: rgb(0, 96, 100);
    VSIZE400-500_COLOR: rgb(0, 77, 64);
    VSIZE500-600_COLOR: rgb(27, 94, 32);
    VSIZE600-700_COLOR: rgb(51, 105, 30);
    VSIZE700-800_COLOR: rgb(130, 119, 23);
}

.block-cube {
    VSIZE1-2_COLOR: #557d00;
    VSIZE2-3_COLOR: #5d7d01;
    VSIZE3-4_COLOR: #637d02;
    VSIZE4-5_COLOR: #6d7d04;
    VSIZE5-6_COLOR: #757d05;
    VSIZE6-8_COLOR: #7d7d06;
    VSIZE8-10_COLOR: #867d08;
    VSIZE10-12_COLOR: #8c7d09;
    VSIZE12-15_COLOR: #957d0b;
    VSIZE15-20_COLOR: #9b7d0c;
    VSIZE20-30_COLOR: #a67d0e;
    VSIZE30-40_COLOR: #aa7d0f;
    VSIZE40-50_COLOR: #b27d10;
    VSIZE50-60_COLOR: #bb7d11;
    VSIZE60-70_COLOR: #bf7d12;
    VSIZE70-80_COLOR: #bf7815;
    VSIZE80-90_COLOR: #bf7319;
    VSIZE90-100_COLOR: #be6c1e;
    VSIZE100-125_COLOR: #be6820;
    VSIZE125-150_COLOR: #bd6125;
    VSIZE150-175_COLOR: #bd5c28;
    VSIZE175-200_COLOR: #bc552d;
    VSIZE200-250_COLOR: #bc4f30;
    VSIZE250-300_COLOR: #bc4a34;
    VSIZE300-350_COLOR: #bb4339;
    VSIZE350-400_COLOR: #bb3d3c;
    VSIZE400-500_COLOR: #bb373f;
    VSIZE500-600_COLOR: #ba3243;
    VSIZE600-700_COLOR: #b92b48;
    VSIZE700-800_COLOR: #b9254b;
    VSIZE800-900_COLOR: #b8214d;
    VSIZE900-1000_COLOR: #b71d4f;
    VSIZE1000-1200_COLOR: #b61951;
    VSIZE1200-1400_COLOR: #b41453;
    VSIZE1400-1600_COLOR: #b30e55;
    VSIZE1600-1800_COLOR: #b10857;
    VSIZE1800-2000_COLOR: #b00259;
    VSIZE2000-2200_COLOR: #ae005b;
}

