.form .fieldset:horizontal .field {
    -fx-pref-height: 40px;
}

.send-form .form .fieldset:horizontal .label-container {
    -fx-pref-width: 90px;
}

.amount-field {
    -fx-max-width: 150px;
}

#feeRatesChart {
    -fx-max-width: 350px;
    -fx-max-height: 130px;
}

.default-color0.chart-series-line {
    -fx-stroke: rgba(105, 108, 119, 0.6);
    -fx-stroke-width: 1px;
}

.chart-line-symbol {
    -fx-background-color: rgba(30, 136, 207, 0);
}

.chart-line-symbol.selected {
    -fx-background-color: rgba(30, 136, 207, 0.6);
}

.inactive {
    -fx-opacity: 0.3;
}

#feeRateField .input-container {
    -fx-alignment: center-left;
}

#transactionDiagram {
    -fx-min-height: 230px;
}

#transactionDiagram .y-axis {
    -fx-stroke: transparent;
}

#transactionDiagram .input-label, #transactionDiagram .recipient-label, #transactionDiagram .change-label, #transactionDiagram .fee-tooltip {
    -fx-font-family: Courier;
}

#transactionDiagram .fee-warning-icon {
    -fx-text-fill: rgb(202, 18, 67);
}

#transactionDiagram .input-line, #transactionDiagram .output-line {
    -fx-fill: transparent;
    -fx-stroke: #696c77;
    -fx-stroke-width: 1px;
}