.form .fieldset:horizontal .field {
    -fx-pref-height: 40px;
}

.form .fieldset:horizontal .label-container {
    -fx-alignment: center-left;
}

.form .fieldset:horizontal .input-container {
    -fx-alignment: center-left;
}

.keystore-padding-border {
    -fx-border-color: #00000000;
    -fx-border-style: none;
    -fx-border-width: 10 5 0 0;
}

