.utxos-treetable-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 10 0 10 0;
}

.utxos-treetable .progress-bar > .bar {
    -fx-padding: 0.6em;
}

.utxos-buttons-box {
    -fx-padding: 15 0 0 0;
}

.chart-bar {
    -fx-bar-fill: rgba(105, 108, 119, 0.6);
}

.chart-bar.selected {
    -fx-bar-fill: rgba(30, 136, 207, 0.6);
}

.freeze-dust-utxo {
    -fx-padding: 0 0 0 5px;
}

.tree-table-view:focused:row-selection .tree-table-row-cell:selected .freeze-dust-utxo {
    -fx-text-fill: derive(white, -15%);
}