.list-menu {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
}

.list-item {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: linear-gradient(to right, #3da0e3, derive(#4aa7e5, 10%));
}

.list-item:selected {
    -fx-background-color: linear-gradient(to right, #3da0e3, derive(#1e88cf, -10%));
}

.list-item:disabled {
    -fx-background-color: #a0a1a7;
    -fx-opacity: 1;
}

.wallet-pane {
    -fx-background-color: -fx-background;
}

.address-cell, .utxo-row.entry-cell {
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
}

.hashindex-row {
    -fx-opacity: 0.7;
}

.hashindex-row.spent {
    -fx-opacity: 0.4;
}

.transaction-row.confirming {
    -fx-opacity: 0.7;
}

.utxo-row.unspendable {
    -fx-opacity: 0.4;
}

.tree-table-row-cell:selected .utxo-row.unspendable {
    -fx-opacity: 0.7;
}

.tree-table-view:focused:row-selection .tree-table-row-cell:selected .utxo-row.unspendable {
    -fx-text-fill: derive(white, -15%);
}

.number-cell {
    -fx-alignment: center-right;
}

.label-cell .text-field {
    -fx-padding: 0;
}

.coin-cell {
    -fx-alignment: center-right;
}

.coin-cell.spent .text {
    -fx-strikethrough: true;
}

.coin-cell .confirmation-progress {
    -fx-pref-width: 14;
    -fx-padding: 0 8 0 0;
}

.coin-cell.negative-amount {
    -fx-text-fill: rgb(202, 18, 67);
}

.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected .coin-cell.negative-amount {
    -fx-text-fill: white;
}

.confirmation-progress-circle, .confirmation-progress-tick {
    -fx-stroke: -fx-text-base-color;
}

.tree-table-row-cell:selected .confirmation-progress-circle, .tree-table-row-cell:selected .confirmation-progress-tick {
    -fx-stroke: white;
}

.confirmation-progress-arc {
    -fx-fill: -fx-text-base-color;
}

.tree-table-row-cell:selected .confirmation-progress-arc {
    -fx-fill: white;
}

.entry-cell .button {
    -fx-padding: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

.entry-cell .button .label .text {
    -fx-fill: -fx-background;
    visibility: hidden;
}

.entry-cell:hover .button .label .text {
    -fx-fill: -fx-text-base-color;
    visibility: visible;
}

.tree-table-row-cell:selected .entry-cell:hover .button .label .text {
    -fx-fill: white;
}

.duplicate-warning, .fail-warning {
    -fx-text-fill: rgb(202, 18, 67);
}

.dust-attack-warning {
    -fx-text-fill: rgb(238, 210, 2);
}

.unused-check {
    -fx-text-fill: #50a14f;
}

.address-text-field {
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
}

.unconfirmed-row {
    -fx-opacity: 0.7;
}

.summary-row {
    -fx-font-weight: bold;
}