.list-menu {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
}

.list-item {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: #4aa7e5;
}

.list-item:selected {
    -fx-background-color: #1e88cf;
}

.list-item:disabled {
    -fx-background-color: #a0a1a7;
    -fx-opacity: 1;
}

.wallet-pane {
    -fx-background-color: -fx-background;
}
