.list-menu {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
}

.list-item {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: #4aa7e5;
}

.list-item:selected {
    -fx-background-color: #1e88cf;
}

.list-item:disabled {
    -fx-background-color: #a0a1a7;
    -fx-opacity: 1;
}

.wallet-pane {
    -fx-background-color: -fx-background;
}

.address-treetable-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 10 0 10 0;
}

.address-cell {
    -fx-font-family: Courier;
}

.hashindex-row {
    -fx-text-fill: #696c77;
}

.hashindex-row.spent {
    -fx-text-fill: #a0a1a7;
}

.tree-table-row-cell:selected .hashindex-row {
    -fx-text-fill: white;
}

.label-cell .text-field {
    -fx-padding: 0;
}

.amount-cell {
    -fx-alignment: center-right;
}

.amount-cell.spent .text {
    -fx-strikethrough: true;
}

.entry-cell .button {
    -fx-padding: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

.entry-cell .button .label .text {
    -fx-fill: -fx-background;
}

.entry-cell:hover .button .label .text {
    -fx-fill: -fx-text-base-color;
}
