<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <logger name="com.github.sarxos.webcam.Webcam" level="OFF"/>
    <logger name="com.github.sarxos.webcam.ds.cgt.WebcamOpenTask" level="OFF"/>
    <logger name="com.github.sarxos.webcam.ds.cgt.WebcamCloseTask" level="OFF"/>
    <logger name="javafx.css" level="ERROR"/>
    <logger name="javafx.scene.focus" level="INFO"/>
    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="INFO" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <define name="appDir" class="com.sparrowwallet.drongo.PropertyDefiner">
        <application>sparrow</application>
    </define>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${appDir}/sparrow.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION_TOR" class="com.sparrowwallet.drongo.ApplicationAppender">
        <callback>com.sparrowwallet.sparrow.TorLogHandler</callback>
    </appender>

    <logger name="org.berndpruenster.netlayer.tor" level="debug" additivity="false">
        <appender-ref ref="APPLICATION_TOR" />
    </logger>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>