.version { -fx-fill: color-7 }
.segwit-marker { -fx-fill: color-8 }
.segwit-flag { -fx-fill: color-5 }

.num-inputs { -fx-fill: color-0 }
.input-hash { -fx-fill: color-4 }
.input-index { -fx-fill: color-4 }
.input-sigscript-length { -fx-fill: color-4 }
.input-sigscript { -fx-fill: color-4 }
.input-sequence { -fx-fill: color-4 }

.num-outputs { -fx-fill: color-0 }
.output-value { -fx-fill: color-3 }
.output-pubkeyscript-length { -fx-fill: color-3 }
.output-pubkeyscript { -fx-fill: color-3 }

.witness-count { -fx-fill: color-0 }
.witness-length { -fx-fill: color-6 }
.witness-data { -fx-fill: color-6 }
.witness-data-signature { -fx-fill: color-3 }

.locktime { -fx-fill: color-7 }

#locktimeCurrentHeight {
    -fx-padding: 0 0 0 12;
}

.headers-tabs > .tab-header-area .tab {
    -fx-pref-height: 50;
    -fx-pref-width: 90;
    -fx-alignment: CENTER;
}

.headers-tabs > .tab-header-area .tab-label {
    -fx-pref-height: 50;
    -fx-pref-width: 90;
    -fx-alignment: CENTER;
    -fx-translate-x: -6;
}

#transactionDiagram .boundary {
    -fx-stroke: transparent;
}

#transactionDiagram .input-label, #transactionDiagram .recipient-label, #transactionDiagram .change-label, #transactionDiagram .fee-tooltip, #transactionDiagram .transaction-tooltip {
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
}

#transactionDiagram .fee-warning-icon {
    -fx-text-fill: rgb(202, 18, 67);
}

#transactionDiagram .inputs-type, #transactionDiagram .input-line, #transactionDiagram .output-line {
    -fx-fill: transparent;
    -fx-text-fill: #696c77;
    -fx-stroke: #696c77;
    -fx-stroke-width: 1px;
}

#transactionDiagram .input-dashed-line {
    -fx-stroke-dash-array: 5px 5px;
}

#transactionDiagram .utxo-label .button, #transactionDiagram .replace-change-label .button {
    -fx-padding: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

#transactionDiagram .utxo-label .button .label .text {
    -fx-fill: -fx-background;
}

#transactionDiagram .utxo-label:hover .button .label .text {
    -fx-fill: -fx-text-base-color;
}

#transactionDiagram .change-warning-icon, #transactionDiagram .payment-warning-icon, #transactionDiagramLabel .payment-warning-icon {
    -fx-text-fill: rgb(238, 210, 2);
}

#transactionDiagramLabel .button {
    -fx-padding: 0;
    -fx-pref-height: 18;
    -fx-pref-width: 18;
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}

#transactionDiagramLabel .button .glyph-font {
    -fx-text-fill: #0184bc;
}

#transactionDiagramLabel .button:hover .glyph-font {
    -fx-text-fill: #259cf5;
}

.details-lower .fieldset {
    -fx-padding: 0 0 0 0;
}

.future-warning {
    -fx-text-fill: rgb(238, 210, 2);
    -fx-padding: 0 0 0 12;
}

.unfinalized-txid, .edited > .text-field {
    -fx-text-fill: #a0a1a7;
}

#blockchainForm .input-container {
    -fx-alignment: center-left;
}

.confirmation-progress-circle, .confirmation-progress-tick {
    -fx-stroke: -fx-text-base-color;
}

.confirmation-progress-arc {
    -fx-fill: -fx-text-base-color;
}

#signingWalletForm .input-container {
    -fx-alignment: center-left;
    -fx-pref-height: 30;
}

#noWalletsWarning .glyph-font {
    -fx-text-fill: rgb(202, 18, 67);
}

#finalizeButtonBox.signatures-buttons {
    -fx-padding: 0 20 10 20;
}

.signatures-buttons {
    -fx-padding: 10 20 10 20;
}

.signatures-buttons .segmented-button, .signatures-buttons .button, .signatures-buttons .toggle-button {
    -fx-pref-height: 65px;
    -fx-max-width: Infinity;
}

.signatures-progress-bar, #broadcastProgressBar {
    -fx-padding: 10 0 10 0;
}

.signatures-progress-bar > .segment {
    -fx-background-color: transparent;
}

.signature-progress-segment-label {
    -fx-text-fill: white;
}

.signatures-progress-bar > .only-segment {

}

.signatures-progress-bar > .first-segment {
    -fx-padding: 0 3 0 0;
}

.signatures-progress-bar > .middle-segment {
    -fx-padding: 0 3 0 3;
}

.signatures-progress-bar > .last-segment {
    -fx-padding: 0 0 0 3;
}

.segment0 .progress-bar {

}

.segment1 .progress-bar {
    -fx-accent: CHART_COLOR_3;
}

.segment2 .progress-bar {
    -fx-accent: CHART_COLOR_7;
}

.segment3 .progress-bar {
    -fx-accent: CHART_COLOR_5;
}

.segment4 .progress-bar {
    -fx-accent: CHART_COLOR_6;
}

.segment5 .progress-bar {
    -fx-accent: CHART_COLOR_2;
}

.segment6 .progress-bar {
    -fx-accent: CHART_COLOR_1;
}

.segment7 .progress-bar {
    -fx-accent: CHART_COLOR_8;
}

.segment8 .progress-bar {
    -fx-accent: #3DA0E3;
}

.segment9 .progress-bar {
    -fx-accent: #f9c74f;
}

.segment10 .progress-bar {
    -fx-accent: #f94144;
}