.version { -fx-fill: #e5e5e6 }
.segwit-marker { -fx-fill: #e5e5e6 }
.segwit-flag { -fx-fill: #e5e5e6 }

.num-inputs { -fx-fill: #e5e5e6 }
.input-other { -fx-fill: #e5e5e6 }

.input-hash { -fx-fill: #0184bc  }
.input-index { -fx-fill: #000000 }
.input-sigscript-length { -fx-fill: #a626a4 }
.input-sigscript { -fx-fill: #50a14f }
.input-sequence { -fx-fill: #986801 }

.num-outputs { -fx-fill: #e5e5e6 }
.output-value { -fx-fill: #e5e5e6 }
.output-pubkeyscript-length { -fx-fill: #e5e5e6 }
.output-pubkeyscript { -fx-fill: #e5e5e6 }

.witness-other { -fx-fill: #e5e5e6 }

.witness-count { -fx-fill: #ca1243 }
.witness-length { -fx-fill: #986801 }
.witness-data { -fx-fill: #a626a4 }

.locktime { -fx-fill: #e5e5e6 }

.script-nest { -fx-fill: #000000 }
.script-opcode { -fx-fill: #0184bc; }
.script-signature { -fx-fill: #50a14f }
.script-pubkey { -fx-fill: #a626a4 }
.script-other { -fx-fill: #a0a1a7 }
.script-type { -fx-fill: #986801 }

.uneditable-codearea {
    -fx-font: 14px Courier;
    -fx-padding: 4;
}

.virtualized-scroll-pane {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border), linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.virtualized-scroll-pane:disabled {
    -fx-opacity: 0.5;
}

.virtualized-scroll-pane .styled-text-area {
    -fx-background-insets: 0px;
    -fx-background-color: transparent;
}

.virtualized-scroll-pane .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
    -fx-padding: 0.08333325em 0.08333325em 0.08333325em 0;
    -fx-border-insets: 0.08333325em 0.08333325em 0.08333325em 0;
    -fx-background-insets: 0.08333325em 0.08333325em 0.08333325em 0;
}
