.version { -fx-fill: color-grey }
.segwit-marker { -fx-fill: color-grey }
.segwit-flag { -fx-fill: color-grey }

.num-inputs { -fx-fill: color-grey }
.input-hash { -fx-fill: color-grey  }
.input-index { -fx-fill: color-grey }
.input-sigscript-length { -fx-fill: color-grey }
.input-sigscript { -fx-fill: color-grey }
.input-sequence { -fx-fill: color-grey }

.num-outputs { -fx-fill: color-grey }
.output-other { -fx-fill: color-grey }

.output-value { -fx-fill: color-8 }
.output-pubkeyscript-length { -fx-fill: color-6 }
.output-pubkeyscript { -fx-fill: color-3 }

.witness-count { -fx-fill: color-grey }
.witness-length { -fx-fill: color-grey }
.witness-data { -fx-fill: color-grey }
.witness-data-signature { -fx-fill: color-grey }

.locktime { -fx-fill: color-grey }

#spentField .input-container {
    -fx-alignment: center-left;
}

#spentByField .input-container {
    -fx-alignment: center-left;
}

.legend {
    -fx-content-display: RIGHT;
    -fx-graphic-text-gap: 5px;
}