#txhex {
    -fx-background-color: -fx-control-inner-background;
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
    -fx-padding: 2;
    color-0: #ca1243;
    color-1: #d75f00;
    color-2: #c18401;
    color-3: #50a14f;
    color-4: #0184bc;
    color-5: #4078f2;
    color-6: #a626a4;
    color-7: #986801;
    color-8: #000000;
    color-grey: #e5e5e6;
}

.tx-pane {
    -fx-background-color: -fx-background;
    -fx-min-height: 0;
}

.color-0 { -fx-fill: #ca1243 }
.color-1 { -fx-fill: #d75f00 }
.color-2 { -fx-fill: #c18401 }
.color-3 { -fx-fill: #50a14f }
.color-4 { -fx-fill: #0184bc }
.color-5 { -fx-fill: #4078f2 }
.color-6 { -fx-fill: #a626a4 }
.color-7 { -fx-fill: #986801 }
.color-8 { -fx-fill: #000000 }

.color-grey { -fx-fill: #e5e5e6 }

.change-warning-icon, .payment-warning-icon {
    -fx-text-fill: rgb(238, 210, 2);
}