.background-box {
    -fx-stroke: #a0a1a7;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 5 5;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
    -fx-fill: transparent;
}

.drag-over > .background-box {
    -fx-stroke: #383a42;
}

.background-text {
    -fx-fill: #a0a1a7;
    -fx-font-size: 20;
}

.drag-over > .background-text {
    -fx-fill: #383a42;
}

.tab-label .failure {
    -fx-text-fill: rgb(202, 18, 67);
}

.tor-status.failure .glyph-font {
    -fx-text-fill: rgb(202, 18, 67);
}

.master-only {
    -fx-tab-max-height: 0;
}

.master-only > .tab-header-area {
    visibility: hidden;
    -fx-pref-height: 0;
}

.wallet-subtabs > .tab-header-area .tab {
    -fx-pref-height: 50;
    -fx-pref-width: 90;
    -fx-alignment: CENTER;
    -fx-background-color: derive(#3da0e3, 32%);
    -fx-background-insets: 0 1 0 1,0,0;
}

.wallet-subtabs > .tab-header-area .tab:selected {
    -fx-background-color: #3da0e3;
}

.wallet-subtabs > .tab-header-area .tab-label {
    -fx-pref-height: 50;
    -fx-pref-width: 90;
    -fx-alignment: CENTER;
    -fx-translate-x: -6;
}

.wallet-subtabs > .tab-header-area .tab-label .label {
    -fx-text-fill: #fff;
}

.status-bar .status-label {
    -fx-alignment: center-left;
}

.status-bar .right-items {
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 8;
    -fx-spacing: 10;
}

.version-hyperlink, .status-bar .status-label .hyperlink {
    -fx-border-color: transparent;
    -fx-text-fill: #1e88cf;
}

.version-hyperlink:visited, .status-bar .status-label .hyperlink {
    -fx-underline: false;
}

.status-bar .status-label {
    -fx-content-display: RIGHT;
}

.core-server.toggle-switch:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), linear-gradient(to bottom, derive(#50a14f, 30%), #50a14f);
    -fx-background-insets: 0, 1;
}

.public-server.toggle-switch:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), linear-gradient(to bottom, derive(gold, 30%), gold);
    -fx-background-insets: 0, 1;
}