.background-box {
    -fx-stroke: #a0a1a7;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 5 5;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
    -fx-fill: transparent;
}

.drag-over > .background-box {
    -fx-stroke: #383a42;
}

.background-text {
    -fx-fill: #a0a1a7;
    -fx-font-size: 20;
}

.drag-over > .background-text {
    -fx-fill: #383a42;
}

.tab-label .failure {
    -fx-text-fill: rgb(202, 18, 67);
}

.status-bar .status-label {
    -fx-alignment: center-left;
}

.status-bar .right-items {
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 8;
    -fx-spacing: 10;
}

.core-server.toggle-switch:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), linear-gradient(to bottom, derive(#50a14f, 30%), #50a14f);
    -fx-background-insets: 0, 1;
}

.public-server.toggle-switch:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), linear-gradient(to bottom, derive(gold, 30%), gold);
    -fx-background-insets: 0, 1;
}