.background-box {
    -fx-stroke: #696c77;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 5 5;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
    -fx-fill: transparent;
}

.background-text {
    -fx-fill: #696c77;
    -fx-font-size: 20;
}
