.root {
    -fx-accent: #1e88cf;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-default-button: -fx-accent;
    -fx-box-border: ladder(-fx-color, black 20%, derive(-fx-color,40%) 30%);
}

.label {
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}

.table-view, .tree-view {
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.status-bar {
    -fx-background-color: derive(-fx-color,-15%), -fx-body-color;
}

.chart .default-color0.chart-series-line {
    -fx-stroke: rgba(135, 138, 149, 0.6);
}

.chart .chart-bar {
    -fx-bar-fill: rgba(135, 138, 149, 0.5);
}

.tab-label .failure {
    -fx-fill: #e06c75;
}

.status-bar .tor-status.failure .glyph-font {
    -fx-text-fill: #e06c75;
}

.root .titled-description-pane .status-error .text, .root .titled-description-pane .description-error .text {
    -fx-fill: #e06c75;
}

#inputsPie .default-color0.chart-pie {
    -fx-pie-color: #e06c75;
}

#outputsPie .default-color3.chart-pie {
    -fx-pie-color: #e06c75;
}

.root .descriptor-error {
    -fx-fill: #e06c75;
}

.root .invalid-checksum {
    -fx-text-fill: #e06c75;
}

.root #noWalletsWarning .glyph-font {
    -fx-text-fill: #e06c75;
}

.root .coin-cell.negative-amount {
    -fx-text-fill: #e09499;
}

.root .etched-raised-border {
    -fx-border-color: #ffffff, derive(-fx-color,-15%);
    -fx-border-style: solid, solid;
    -fx-border-width: 1px, 1px;
}

.root .line-border {
    -fx-border-color: derive(-fx-color,-15%);
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.root .duplicate-warning, .root #transactionDiagram .fee-warning-icon {
    -fx-text-fill: #e06c75;
}

.root .unused-check {
    -fx-text-fill: #98c379;
}

.root .script-nest { -fx-fill: #565c64 }
.root .script-opcode { -fx-fill: #56b6c2 }
.root .script-hash { -fx-fill: #d19a66 }
.root .script-signature { -fx-fill: #98c379 }
.root .script-pubkey { -fx-fill: #c678dd }
.root .script-redeem { -fx-fill: derive(#e06c75, 20%) }
.root .script-other { -fx-fill: #c8ccd4 }

.root #txhex {
    -fx-background-color: derive(-fx-control-inner-background, -50%);
    color-0: #e06c75;
    color-1: #e5c07b;
    color-2: #d19a66;
    color-3: #98c379;
    color-4: #61afef;
    color-5: #56b6c2;
    color-6: #c678dd;
    color-7: #be5046;
    color-8: #c8ccd4;
    color-grey: #3e4451;
}

.root .readonly.text-input {
    -fx-text-fill: lightgray;
}

.root .descriptor-text {
    -fx-fill: lightgray;
}

.root .success {
    -fx-text-fill: #98c379;
}

.root .failure {
    -fx-text-fill: #e06c75;
}

.root .titled-description-pane > .title {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-padding: 0;
    -fx-border-color: derive(-fx-base, -2%);
    /*-fx-border-width: 1;*/
}

.root .multiple-tabs {
    -fx-background-color: derive(-fx-background, -4%);
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: derive(-fx-background, -10%);
}

.root .placeholder .hyperlink {
    -fx-text-fill: derive(#1e88cf, 20%);
}

.root .box-overlay {
    -fx-effect: dropshadow(three-pass-box, black, 14, 0, 0, 0);
}

.root .box-overlay .label {
    -fx-text-fill: white;
}

.root #loadingLog {
    -fx-background-color: transparent;
}

.root #transactionDiagram .coins-icon, #transactionDiagram .user-icon {
    -fx-text-fill: lightgray;
}

.root #transactionDiagram .size-indicator {
    -fx-fill: lightgray;
}

.root .progress-indicator.progress-timer.warn > .determinate-indicator > .indicator {
    -fx-background-color: -fx-box-border, radial-gradient(center 50% 50%, radius 50%, #e06c75 70%, derive(-fx-control-inner-background, -9%) 100%);
}