.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border :none;
    -fx-padding: 5 0 5 0;
}

.form .fieldset:horizontal .label-container {
    -fx-pref-width: 110px;
    -fx-pref-height: 25px;
}

.form .input-container {
    -fx-spacing: 2;
}

.form .label-button .input-container {
    -fx-spacing: 10;
}

.form .field {
    -fx-padding: 3 5;
}

.id {
    -fx-font-family: Courier;
}

.form-separator {
    -fx-padding: -20 0 0 0;
}

.toggle-switch {
    -fx-translate-x: -20px;
}


