.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border :none;
    -fx-padding: 5 0 5 0;
}

.form .wideLabelFieldSet.fieldset:horizontal .label-container {
    -fx-pref-width: 170px;
    -fx-pref-height: 25px;
}

.form .fieldset:horizontal .label-container {
    -fx-pref-width: 110px;
    -fx-pref-height: 25px;
}

.form .input-container {
    -fx-spacing: 2;
}

.form .label-button .input-container {
    -fx-spacing: 10;
}

.form .field {
    -fx-padding: 3 5;
}

.form .fieldset.header .legend {
    -fx-padding: 0 0 15px 0;
}

.id, .fixed-width {
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
}

.form-separator {
    -fx-padding: -20 0 0 0;
}

.form .field .toggle-switch {
    -fx-padding: 5 0 2 0;
}

.tab-error > .tab-container {
    -fx-effect: dropshadow(three-pass-box, rgba(202, 18, 67, .6), 7, 0, 0, 0);
}

.error {
    -fx-effect: dropshadow(three-pass-box, rgb(202, 18, 67), 7, 0, 0, 0);
}

.warning {
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

.dialog-pane .header-panel {
    -fx-padding: 20;
}

.titled-description-pane > .title {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-color: #e5e5e6;
    /*-fx-border-width: 1;*/
}

.titled-description-pane > .title > .arrow-button {
    -fx-padding: 0;
}

.titled-description-pane > .title > .arrow-button > .arrow {
    visibility: hidden;
    -fx-translate-x: -1000;
    -fx-padding: 0;
}

.titled-description-pane .main-label .text {

}

.titled-description-pane .status-label .text, .titled-description-pane .description-label .text {
    -fx-fill: #a0a1a7;
}

.titled-description-pane .status-error .text, .titled-description-pane .description-error .text {
    -fx-fill: #ca1243;
}

.titled-description-pane .description-label, .titled-description-pane .description-error {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

.hyperlink {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-fill: #1e88cf;
}

.hyperlink:visited {
    -fx-text-fill: #1e88cf;
    -fx-underline: false;
}

.hyperlink:hover:visited {
    -fx-underline: true;
}

.copyable-text-field .copy-button {
    -fx-padding: 0 3 0 0;
}

.copyable-text-field .copy-button > .graphic {
    -fx-background-color: #949494;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
    -fx-shape: "M 6.429688 7.875 L 6.429688 8.578125 C 6.429688 8.8125 6.210938 9 5.945312 9 L 0.480469 9 C 0.214844 9 0 8.8125 0 8.578125 L 0 2.109375 C 0 1.875 0.214844 1.6875 0.480469 1.6875 L 1.929688 1.6875 L 1.929688 6.890625 C 1.929688 7.433594 2.433594 7.875 3.054688 7.875 Z M 6.429688 1.828125 L 6.429688 0 L 3.054688 0 C 2.789062 0 2.570312 0.1875 2.570312 0.421875 L 2.570312 6.890625 C 2.570312 7.125 2.789062 7.3125 3.054688 7.3125 L 8.519531 7.3125 C 8.785156 7.3125 9 7.125 9 6.890625 L 9 2.25 L 6.910156 2.25 C 6.644531 2.25 6.429688 2.058594 6.429688 1.828125 Z M 8.859375 1.28125 L 7.535156 0.125 C 7.445312 0.0429688 7.320312 0 7.191406 0 L 7.070312 0 L 7.070312 1.6875 L 9 1.6875 L 9 1.582031 C 9 1.46875 8.949219 1.363281 8.859375 1.28125 Z M 8.859375 1.28125 ";
}

.copyable-text-field .copy-button:hover > .graphic {
    -fx-background-color: #0184bc;
}

.copyable-text-field .copy-button:pressed > .graphic {
    -fx-background-color: #116a8d;
}

.readonly.text-input {
    -fx-text-fill: derive(-fx-text-inner-color, 40%);
}

.help-label {
    -fx-padding: 0 0 0 10;
}

.default-button {
    -fx-base: -fx-default-button;
}

.etched-raised-border {
    -fx-border-color: #ffffff, #a9a9a9;
    -fx-border-style: solid, solid;
    -fx-border-width: 1px, 1px;
}

.line-border {
    -fx-border-color: #a9a9a9;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.success {
    -fx-text-fill: rgb(80, 161, 79);
}

.failure {
    -fx-text-fill: rgb(202, 18, 67);
}

.root .header-panel {
    -fx-background-color: -fx-box-border, derive(-fx-background, 10%);
}

.box-overlay {
    -fx-background-color: -fx-box-border, derive(-fx-background, 10%);
    -fx-effect: dropshadow(three-pass-box, #a0a1a7, 14, 0, 0, 0);
}

.alert .content.label {
    -fx-padding: 20px 20px 20px 20px;
}

.icon-button {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}

.icon-button:hover {
    -fx-opacity: 1.0;
}