.script-nest { -fx-fill: #000000 }
.script-opcode { -fx-fill: #0184bc }
.script-hash { -fx-fill: #986801 }
.script-signature { -fx-fill: #50a14f }
.script-pubkey { -fx-fill: #a626a4 }
.script-redeem, .script-controlblock { -fx-fill: #ca1243 }
.script-other { -fx-fill: #a0a1a7 }

.non-final {
    -fx-fill: #696c77;
}

.final {
    -fx-fill: #383a42;
}

.text-decoration-box {
    -fx-translate-x: -10;
    -fx-translate-y: 2;
}

.text-decoration-label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 9px;
    -fx-fill: white;
    -fx-translate-x: -10;
    -fx-translate-y: 2;
}

.virtualized-scroll-pane .code-area, .uneditable-codearea {
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Mono';
    -fx-padding: 4;
    -fx-fill: -fx-text-inner-color;
}

.virtualized-scroll-pane {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border), linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.virtualized-scroll-pane:disabled {
    -fx-opacity: 0.5;
}

.virtualized-scroll-pane .styled-text-area {
    -fx-background-insets: 0px;
    -fx-background-color: transparent;
}

.virtualized-scroll-pane .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
    -fx-padding: 0.08333325em 0.08333325em 0.08333325em 0;
    -fx-border-insets: 0.08333325em 0.08333325em 0.08333325em 0;
    -fx-background-insets: 0.08333325em 0.08333325em 0.08333325em 0;
}