
pool-list {
}

pool-header {
    -fx-background-color: #000000;
}

pool-list-item {
    -fx-insets:10, 10, 10, 10;
    -fx-border-radius:10, 10, 10, 10;
    -fx-background-color: #1D2124;
}

pool-list-item:hover {
    -fx-background-color: #164768;
    -fx-border-color: #4E99D3;
}