.dialog-pane .content {
    -fx-padding: 0;
}

.list-menu {
    -fx-pref-width: 160;
    -fx-background-color: #3da0e3;
}

.list-item {
    -fx-pref-width: 160;
    -fx-padding: 0 20 0 20;
    -fx-background-color: #3da0e3;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: #4aa7e5;
}

.list-item:selected {
    -fx-background-color: #1e88cf;
}

#importPane {
    -fx-background-color: -fx-background;
}

.scroll-pane {
    -fx-background-color: transparent;
}




