.dialog-pane .content {
    -fx-padding: 0;
}

.list-menu {
    -fx-pref-width: 160;
    -fx-background-color: #3da0e3;
}

.list-item {
    -fx-pref-width: 160;
    -fx-padding: 0 20 0 20;
    -fx-background-color: #3da0e3;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: #4aa7e5;
}

.list-item:selected {
    -fx-background-color: #1e88cf;
}

#importPane {
    -fx-background-color: -fx-background;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.titled-pane > .title {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-color: #e5e5e6;
    /*-fx-border-width: 1;*/
}

.titled-pane > .title > .arrow-button {
    -fx-padding: 0;
}

.titled-pane > .title > .arrow-button > .arrow {
    visibility: hidden;
    -fx-translate-x: -1000;
    -fx-padding: 0;
}

.main-label .text {

}

.status-label .text, .description-label .text {
    -fx-fill: #a0a1a7;
}

.status-error .text, .description-error .text {
    -fx-fill: #ca1243;
}

.description-label, .description-error {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

.hyperlink {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-fill: #1e88cf;
}

.hyperlink:visited {
    -fx-text-fill: #1e88cf;
    -fx-underline: false;
}

.hyperlink:hover:visited {
    -fx-underline: true;
}

