.whirlpool-pane {
    -fx-padding: 0;
}

.title-area {
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 10 25 10 25;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #e5e5e6;
}

#whirlpoolBox, .button-bar {
    -fx-padding: 10 25 25 25;
}

.button-bar .container {
    -fx-padding: 0 0 15px 0;
}

.title-label {
    -fx-font-size: 24px;
}

.title-text {
    -fx-font-size: 20px;
    -fx-padding: 0 0 15px 0;
    -fx-graphic-text-gap: 10px;
}

.content-text {
    -fx-font-size: 16px;
    -fx-text-fill: derive(-fx-text-base-color, 15%);
}

.field-box {
    -fx-pref-height: 30px;
    -fx-alignment: CENTER_LEFT;
}

.field-label {
    -fx-pref-width: 130px;
}

.field-control {
    -fx-pref-width: 180px;
}

.low-fee-warning {
    -fx-text-fill: rgb(238, 210, 2);
}
